// ---------- 快速切枪 ----------
# alias +switchw "slot3"      // 按下切刀
# alias -switchw "lastinv"    // 松开切上一把武器
# bind "MOUSE5" "+switchw"
// -----------------------------
// ---------- 快速丢包 ----------
alias +quickdrop "slot5"
alias -quickdrop "drop"
bind "h" "+quickdrop"
// -----------------------------

echo "====================================="
echo "=       Alias bind completed.       ="
echo "====================================="
echo "                                ,----, "
echo "             ,---.-,          .'   .`| "
echo "    ,---,.  '   ,'  '.     .'   .'   ; "
echo "  ,'  .' | /   /      \  ,---, '    .' "
echo ",---.'   |.   ;  ,/.  :  |   :     ./  "
echo "|   |   .''   |  | :  ;  ;   | .'  /   "
echo ":   :  :  '   |  ./   :  `---' /  ;    "
echo ":   |  |-,|   :       ,    /  ;  /     "
echo "|   :  ;/| \   \      |   ;  /  /      "
echo "|   |   .'  `---`---  ;  /  /  /       "
echo "'   :  '       |   |  |./__;  /        "
echo "|   |  |       '   :  ;|   : /         "
echo "|   :  \       |   |  ';   |/          "
echo "|   | ,'       ;   |.' `---'           "
echo "`----'         '---'                   "

echo "================================="
echo "=  F97 configuration is ready!  ="
echo "=           2025.07.20          ="
echo "=   SIXiaolong1117/ValveMyCFG   ="
echo "=          MIT license          ="
echo "================================="
